body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 0.9rem;
}

#sec-1 {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  padding:345px 0px 30px;
}

.debug {
  border: 1px dashed red;
}

.bg-black {
  background-color: black;
}

.bg-btn-black {
  background-color: #363636;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #bebcbb;
}

.bg-btn-grey {
  background-color: #d9dadc;
}

.bg-darkblue {
  background-color: #161c3b;
}

.bg-blue {
  background-color: #00439c;
}

.bg-btn-blue {
  background-color: #2d64e6;
}

.bg-btn-red {
  background-color: #cd3d0f;
}

.my-btn {
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
}

.text-grey {
  color: grey;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-blue {
  color: #2d64e6;
}

.font-sm {
  font-size: 0.9rem;
}

.z-index-1020 {
  z-index: 1020;
}
